.tituloy{
    color:rgba(0,0,0,.5);
}

.theady{
    background-color:rgb(249, 149, 120) ;
    color:rgba(0,0,0,.5);
}
.badge{
    background-color: rgb(249, 149, 120);
    color:rgba(0,0,0,.5);
    font-size: large;
}

.border-left-y{
   border-top: groove !important;
   border-left: groove;
   border-bottom: groove;
   background-color: rgb(249, 149, 120) ;
}

.border-right-y{
    border-top: groove !important;
    border-right: groove;
    border-bottom: groove;
    background-color: rgb(249, 149, 120);
}
.cart-y{
    background-image: url(../img/fondocart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding:100px;
}

.checkout-y{
    background-image: url(../img/checkout3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding:100px;
}

.table-y{
    background-color:rgb(252, 249, 249,.7);
    align-self: center;
}

a.btn-y{
    padding: 5px 5px;
    
}

.promo-y{
    align-self: center;
    width:40%;
    
}
