
.gral{
    padding: 20px;
    margin-left: 20px;
    margin-right: 170px;
    background: rgba(255,255,255,0);
    left: 120px;
    top: 223px;
    font-family: 'Righteous', cursive;
    text-align: justify;
}

.seccionx{
    padding: 20px;
}

.titulosgenerales{
    color: rgb(249, 149, 120);
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    }

.tituloseccion{
    color: rgb(33, 2, 105);  
    font-size: 20px;
    margin-left: 20px;
    border-bottom-color: rgb(249, 149, 120);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.pregunta{
    color: rgb(33, 2, 105);  
    font-size: 17px;
    margin-left: 25px;
}
.rta{
    color:rgba(1, 0, 2, 0.87);
    font-size: 13px;
    margin-left: 55px;
}   
    
.bajada{
    color:rgba(1, 0, 2, 0.87);
    font-size: 13px;
}   

.cajaFoto{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.fotoProducto{
    background-size: cover;
    background-position: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: left;
  }

  .color{
    background-color: grey;
  }

  .nombreProd {
    font-size: 18px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 10px;
  }
 
  .botonSubmit {
    width: 140px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .botonSubmit:hover {
    background-color: rgb(249, 149, 120);
    box-shadow: 0px 15px 20px  rgb(214, 149, 131);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .carrito {
    float: right;
    padding: 20px;
}

.shopping-cart {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 50px 0 0;
}

.bannerPrincipal{
    width: 100%;
    display: flex;
    padding: 10px;
}