.pssMailResetForm {
    z-index: 15;
    position: relative;
    background: #fff;
    width: 550px;
    height: 350px;
    border-radius: 1px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 50px auto 10px;
    margin-bottom: 50px;
    overflow: hidden;
    opacity: 0.8;

}
.pssContactForm {
    z-index: 15;
    position: relative;
    background: #fff;
    width: 550px;
    height: 800px;
    border-radius: 1px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    margin-bottom: 50px;
    overflow: hidden;
    opacity: 0.8;
}

.pssContactback{
    background-image: url("../img/contactBack.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: contain;
    }
    .pssResetback{
        background-image: url("../img/contactBack.jpg");
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        background-size: contain;
        }