

.gssformprofile {
  background: rgba(255,255,255,0.9);
    width: 30%;
    height: 550px;
    border-radius: 1px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin-bottom: 10px;
}

.gsprofile {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 60px;
  margin-bottom: 50px;
  width: 100%;
  height:70vh;
  padding: 30px;

}

.gssbienvenido {
  margin-top: 80px;
background: #fff;
width: 100%;
height: 50px;
border-radius: 1px;
box-shadow: 0 0 30px rgba(0, 0, 0, .1);
box-sizing: border-box;
margin-bottom: 10px;
}

.gssFontProf{
  padding: 4px 0;
  color: rgb(249, 149, 120);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}


.gssFontProf2{
  padding: 4px 0;
  color: rgb(94, 91, 91);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}



.gsprofileTitulo {
display: flex;
flex-flow: row wrap;
justify-content: flex-end;
flex-wrap: wrap;
flex-direction: row;
 margin-top: 50px;
 width: 100%;
align-items: center;
}


  .gssnombre{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    margin-bottom:20px;
    margin-top: 20px;
  }

  .gssnombre2{
    font-family: 'Lobster', cursive;
    font-size: 18px;
    margin-bottom:20px;
    margin-top: 20px;
  }

  .campos {
    width: 80%;
    background-color: rgba(232, 236, 241, 0.2)
  }


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

.container2 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
  align-items: center;
}

.avatar2 {
  margin-top: 40px;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.imgprof {
  width: 100%;
  height: auto;
  border: none;
}

.content2 {
	width: 100%;
	max-width: 800px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

.backhoundIMG {
  background-image: url(../img/avatar.png);
  background-repeat: no-repeat; 
  background-position: center;
}


.hr2 {
  color: grey;
  width: 60%;
}

a {
  text-decoration: none;
}

.boton{
  width: 65%;
  margin-bottom: 5px;
}


.fotoPerfilgral {
  background-image: url(../img/back3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.fader {
  background: rgba(255,255,255,0.8);
  width: 700px;
  /*height: 700px;*/
  border-radius: 1px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}


.formDatosEditPerf {
  width: 60%;
  height: auto;
  padding: 15px;
  text-align: center;
}

.botonEdit{
margin-right: 15px;
height: 15px;
padding-left: 40px;
padding-right: 40px;
padding-top: 1px;
padding-bottom: 1px;
text-decoration: none;
text-align: center;
}



.botonEditGS{
  text-align: center;
  font-size: 15px;
  }


  .Gssupload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
 

  .gssupload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


.gssbtn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.enContruccion {
  background-image: url(../img/laundryHome1.jpg);
  width: 170px;

}

.tamgss{
  font-size: 12px;
}

.backConstruc {
  background-image: url(../img/laundry1.jpg);
}
